body {
  margin-bottom: 0px;
  background-image: url(../img/fields_norway.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

#soon {
  margin-bottom:2em;
}

a:link {
  font-weight: bold;
  color: #B2150C;
}

a:visited {
  color: #33cc33;
}

a:hover {
  background-color: rgba(0,89,179,0.5);
  border-radius: 3px;
}

a:active {
  background-color: rgba(0,77,153,0.5);
  border-radius: 3px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/rnm_banner.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.well{
background-color: rgba(0,102,204,0.5);
}

.header {
  text-align: center;
}

.header .container img {
  border-radius: 50%;
}

.projects p {
  font-size:  15px
}

.aboutme p {
  font-size: 20px;
}

.aboutme h2 img {
  float: right;
  max-width: 180px;
  max-height: 200px;
  margin-left: 28px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.aboutme p {
  margin-bottom: 1.3em;
}
.aboutme p img {
  float: left;
  max-width: 160px;
  max-height: 160px;
  margin-right: 28px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 100px;
}
